#container {
	width: 960px;
}

.title{
	float: middle;
}

.instructions{
	float: middle;
}

.logo {
	float: left;
}


.stats {
	float: right;
	border-width: thin;
	border-style: solid;
	padding: 15px 10px 5px 15px;
}

.result{
	float: middle;
	margin-top: 275px;
}

